// Colors
$color-brand-primary: #0a655e;
$color-brand-secondary: #d1b352;

$color-bg-primary: #fff;

$color-text-contrast: #fff;
$color-text-dimmed: #f1f5f5;
$color-text-nav: #2e3838;
$color-text-pagination: #6e8484;

// Utils
$transition: all 0.3s;
